%h1
  = image_tag "logo.png"

.videos
  - @videos.each do |video|
    = link_to video_list_image(video), video

= link_to 'New Video', new_video_path
|
= link_to 'Locations', locations_path
|
= link_to 'Inventories', inventories_path
